<footer>
  <nav class="round">
    <ul>
      <li><%= link_to( "About", about_path ) %></li>
      <li><%= link_to( "Contact", contact_path ) %></li>
      <li><a href = "http://news.ycombinator.com">Hacker News</a></li>
      <li><a href = "http://www.google.com">Google </a></li>
    </ul>
  </nav>
</footer>
